h1{
    color: blue;
    font-size: 40px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}