
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    background: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
}

.nav-links li a:hover,
.nav-links .active {
    color: #0099cc;
}

.nav-links li a:hover::after,
.nav-links .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: #0099cc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 100%;
    height: 80vh;         /* Change to 100vh for full screen */
    overflow: hidden;
    position: relative;
}

.carousel-wrapper {
    display: flex;
    width: 300%;          /* 3 images */
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
