body {
    margin: 0;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.left {
    width: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
}

.right {
    width: 50%;
    background: #d7ff2f;  
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 230px;
    position: relative;
}

#ampm {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 60px;
}
